.imagemPrincipal{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tituloServicos{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    
}

.pServicos{
    color: white;
    text-align: center;
}

.tituloQuemSomos{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

.tituloBriefing{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}